@import './styles/colors.module';

.app {
  max-width: 1000px;
  margin: 0 auto;
  background-color: $MainBlack;
  font: 1.6rem 'Lucida Console', 'Courier New', monospace;
  color: $MainWhite;
}

.container {
  padding: 2rem;
  border: 1px solid $MainWhite;
}

.section {
  margin-top: 2rem;
}

.h1 {
  color: $MainYellow;
}

.h2 {
  color: $MainPink;
}

.h3 {
  color: $MainBlue;
}

a {
  color: $MainWhite;
  text-decoration: none;
  &:link {
    color: $MainWhite;
  }
  &:visited {
    color: $MainWhite;
  }
  &:hover {
    color: $MainWhite;
    text-decoration: underline;
  }
  &:active {
    color: $MainBlue;
  }
}

.content-block {
  padding: 1rem;
  box-shadow: 3px 5px 0px 5px rgba(37, 37, 37, 0.76);
  transition-duration: 0.5s;
  &:hover {
    box-shadow: none;
  }
}

.title {
  margin-bottom: 2rem;
}

.title__h2 {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
}

.title__start-symbol {
  color: $MainBlue;
  font-size: 2rem;
}
