@import '../../styles/colors.module';

.contacts-section__list {
  margin-bottom: 2rem;
}

.list__title {
  display: inline-block;
  color: $MainBlue;
}

.list__item {
  list-style-type: none;
  margin: 1rem 0;
}

.list__info {
  display: inline-block;
  margin-top: 0.5rem;
}
